body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:374px;
}
#u2595 {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:374px;
}
#u2596 {
  position:absolute;
  left:2px;
  top:179px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2595.a {
}
#u2595_img.a {
}
#u2596.a {
}
